* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    width: 100%;
    height: 67px;
    background-color: white;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.search-here {
    width: 745px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.search-here input {
    border: none;
    outline: none;
    width: 701px;
    font-size: 17px;
    background-color: #f5f5f5;
}

.right-nav {
    display: flex;
    width: 530px;
    justify-content: space-around;
    align-items: center;
}

.login-design,
.cart,
.become-seller {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login-design {
    width: 111px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 5px;
}

.icon {
    font-size: 20px;
}

.login-design:hover {
    display: inline;
    width: 111px;
    height: 40px;
    background-color: #2478F0;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 5px;
    color: white;
}

.dropdown-icon {
    transition: transform 0.3s ease;
}

.login-design:hover .dropdown-icon {
    transform: rotate(180deg);
}

.new-user {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.login-items {
    display: none;
    padding: 15px;
    width: 275px;
    height: 280px;
    position: absolute;
    top: 60px;
    left: 1005px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 21px 4px gray;
    z-index: 100;
}

.login-items ul {
    list-style: none;
}

.login-items ul li {
    display: flex;
    gap: 7px;
}

.dropdown-icon {
    font-size: 12px;
}

.new-user-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 240px;
}

.menu {
    position: relative;
}

.three-dot-menu {
    width: 50px;
    padding: 8px;
    border: 0.2px solid transparent;
}

.three-dot-menu:hover {
    border: 0.2px solid rgb(205, 204, 204);
    width: 50px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(237, 236, 236);
}

.menu-list {
    position: absolute;
    top: 75px;
    right: 20px;
    width: 240px;
    z-index: 100;
}

.menu-list ul {
    display: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    height: 160px;
    background-color: white;
    box-shadow: 2px 2px 21px 4px gray;
    padding: 15px;
    border-radius: 10px;
}

/* nav css finish  */
.category-bar {
    display: flex;
    justify-content: center;
}

.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.category {
    height: 126px;
    width: 95%;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-img {
    width: 70px;
}

.category-img img {
    width: 64px;
    height: 64px;
}

.dropdown-p {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dropdown-box:hover .dropdown-p {
    color: blue;
}

.dropdown-box:hover .dropdown-icon {
    transform: rotate(180deg);
    color: blue;
}

.category-list {
    position: absolute;
    top: 90px;

    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;

}

.dropdown-box:hover .category-list {
    visibility: visible;
    opacity: 1;
}

.list1,
.list2 {
    box-shadow: 2px 2px 21px 4px gray;
    background-color: white;
    height: 320px;
    width: 220px;
    border-radius: 10px;
}

.list1 ul,
.list2 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0px;
    font-size: 13px;
}

.list-ul li {
    height: 30px;
    padding: 10px;
}

.list-ul li:hover {
    background-color: #f0f5ff;
}

/* category css finish  */
.slider-img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 95%;

    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.previous-btn,
.next-btn {
    width: 44px;
    height: 88px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.previous-btn {
    top: 60px;
    left: 37px;
}
.next-btn{
     top: 60px;
    right: 37px;
}
.slider-indicator{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
}
.indicator{
    width: 15px;
    height: 3px;
    background-color: #b2aeae;
    transition:all 0.5s ease-in;
    border-radius: 10px;
}
.indicator.active{
    background-color: black;
    width: 40px;
}